*{
  font-family: 'Merriweather', serif;
  text-align: center;
 
}
body {
  margin: 0;
  background-color: #fdb750;
  width: 100vw;
}

h1{
  font-family: 'Sacramento', cursive;
  background-color: #fc2e20;
  font-size:5.5rem;
  margin-top: 0;
  margin-bottom: 0; 
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #fd7f20;
  border-top: 2px solid  #010100;
  border-bottom: 2px solid #010100;
  margin-top: 0;
  margin-bottom: 0;
}

h3{
  font-family: 'Montserrat', sans-serif;
  background-color: #010100;
  color: #EAF6F6;
  margin: 0;
  border-top: 2px solid #EAF6F6;
  border-bottom: 2px solid #EAF6F6;
  padding-top: 10px;
  padding-bottom: 10px;
}

.pRed{
  background-color: #fd7f20;
  margin: 0;
  padding: 10px 10px;
}

.bBlack{
  background-color: #010100;
  margin: 0;
  color:white;
  padding: 10px 10px;
}

hr{
  border: none; /* Elimina el borde por defecto */
  border-top: 6px dotted #EAF6F6;  /* Aplica un borde superior punteado */
  width: 4%;
  margin: auto;
  padding-bottom: 15px;
  margin-top: 15px;
}

img{
  width: 100px;
  height: 100px;
}

.country-image{
  width: 100%;
  height: 100%;
}

.country{
  text-align: center;
}

.flags{
  width: 100px;
  height: 60px;
  display: block; /*Sirve para que la imagen se comporte como block y no como inline, peromite que el margin funcione*/
  margin-left: auto; /*Se distribuye de forma equitativa el margen derecho e izquierdo por eso se centra*/
  margin-right: auto;
}

ul, ol {
  list-style-position: inside; /* Coloca los números o viñetas dentro del contenido de la lista */
  padding: 0;
}

ul.ppg{
  width: 60%;
  padding-left: 20%;
  padding-right: 20%;
}

ul.edu{
  width: 50%;
  padding-left: 25%;
  padding-right: 25%;
}

ul.heroes{
  padding: 0;
  width: 100%;
}

ol.ski{
  width: 30%;
  padding-left: 35%;
  padding-right: 35%;
}

ol.fods{
  width: 10%;
  padding-left: 45%;
  padding-right: 45%; 
}

ul.hobs{
  width: 50%;
  padding-left: 25%;
  padding-right: 25%;

}

ol.bmt{
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}

ul.plcs{
  width: 16%;
  padding-left: 42%;
  padding-right: 42%;
}

li{
  text-align: justify;
}

table{
  margin: auto;
  background-color: #EAF6F6;
  margin-top: 10px;
  margin-bottom: 10px;
}

img.logos{
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50%; /* Hace que la imagen sea circular */
  object-fit: contain;  /* Asegura que toda la imagen se vea dentro del círculo */
  background-color: white;
}

img.principal{
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 50%;
  object-fit: cover;
}

img.bmts{
  display: block;
  margin: auto;
  width: 60%;
  height: 400px;
  background-color: #EAF6F6;
  margin-top: 15px;
  margin-bottom: 15px;
}


a{
  font-weight: bold;
  text-decoration: none;
  color: black;
}

a:hover{
  color: green;

}

div.section:nth-child(even){
  background-color: #fc2e20;
}

form{
  border: 2px dotted #010100;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #fd7f20;
}

.lp{
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #010100;
  color: white;
  
}

input{
  border-radius: 5px;
  background-color: white;
}

textarea{
  border-radius: 5px;
  background-color: white;
  width: 60%;
}

select{
  background-color: white;
}

img.cld{
  position: sticky;
  display: block;
  width: 18%;
  height: 15%;
  z-index: 100; /* Asegura que las nubes estén por encima de otros elementos */
}

.cld1{
  top: 10px;
  margin-left: 30%;
}

.cld2{
  top: 100px;
  margin-left: 50%;
}

.mtn{
  position: static; 
  display: block;
  height: auto;
  margin: auto;
  width: 40%;
}

.container-country{
  display: grid;
  grid-template-columns: auto auto auto; /*Se hacen 3 columnas*/
  grid-template-rows: auto auto auto; /*Se hacen 3 filas*/
}

.imc{
  grid-column: 3/4;
  grid-row: 1/4;
  margin: 5px;
}
.dcp{
  margin: auto;
}

.fta{
  margin: auto;
}

.fla{
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.dcpt{
  text-align: justify;
  margin: 10px;
}

.mfla{
  margin: auto;
}

.card {
  position: relative; /* Posiciona la tarjeta de manera relativa, lo que permite que los elementos hijos con position: absolute; se posicionen en relación con este contenedor */
  width: 400px; /* Ancho fijo de la tarjeta */
  height: 450px; /* Altura fija de la tarjeta */
  margin: 20px; /* Margen alrededor de la tarjeta para separar las tarjetas entre sí */
}

.card .face {
  position: absolute; /* Posiciona la cara (front o back) de manera absoluta dentro de la tarjeta */
  width: 100%; /* La cara ocupa el 100% del ancho de la tarjeta */
  height: 100%; /* La cara ocupa el 100% de la altura de la tarjeta */
  backface-visibility: hidden; /* Oculta la cara posterior cuando está rotada */
  border-radius: 10px; /* Bordes redondeados en la tarjeta */
  overflow: hidden; /* Oculta cualquier contenido que se salga del área de la tarjeta */
  transition: .5s; /* Transición suave de 0.5 segundos para transformaciones */
  background-color: white; /* Color de fondo blanco para la tarjeta */
}

.card .front {
  transform: perspective(600px) rotateY(0deg); /* Inicialmente, la cara frontal no está rotada */
  box-shadow: 0px 5px 10px black; /* Sombra para dar un efecto de profundidad a la tarjeta */
  display: grid; /* Utiliza Grid para organizar los elementos dentro de la cara frontal */
  grid-template-rows: 50% 20% 10% 10% 10%; /* Define cinco filas con proporciones específicas para la distribución de contenido */
}

.card .front img {
  width: 100%; /* La imagen ocupa el 100% del ancho de la fila en la que se encuentra */
  height: 100%; /* La imagen ocupa el 100% de la altura de la fila en la que se encuentra */
}

.card .front h3 {
  border: 0; /* Elimina cualquier borde del encabezado */
  padding: 0; /* Elimina cualquier padding del encabezado */
  line-height: 90px; /* Altura de línea establecida para alinear verticalmente el texto dentro de su contenedor */
}

.card .back {
  transform: perspective(600px) rotateY(180deg); /* Inicialmente, la cara posterior está rotada 180 grados, quedando oculta */
  display: flex; /* Utiliza Flexbox para organizar los elementos dentro de la cara posterior */
  flex-direction: column; /* Los elementos se organizan en una columna dentro de la cara posterior */
}

.card .back .heroes {
  width: 90%; /* El contenido ocupa el 90% del ancho disponible */
  padding-left: 5%; /* Añade un padding a la izquierda para centrar el contenido dentro del 90% del espacio disponible */
}

.card:hover .front {
  transform: perspective(600px) rotateY(180deg); /* Al pasar el ratón sobre la tarjeta, la cara frontal rota 180 grados y queda oculta */
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg); /* Al pasar el ratón sobre la tarjeta, la cara posterior rota 180 grados adicionales, quedando visible */
}

.dheroes {
  display: flex; /* Utiliza Flexbox para organizar las tarjetas dentro de este contenedor */
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a la siguiente línea si no caben en una sola línea */
  justify-content: space-between; /* Distribuye las tarjetas uniformemente con espacio entre ellas */
}

#tagenda{
  border: 1px solid black;
  font-size: 20px;
}

th,td{
  border: 1px solid black;
}

@media (max-width: 575px){
  #tagenda{
    font-size: 10px;
  }

  ul.hobs{
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }

  img.bmts{
    width: 80%;
  }

  ul.plcs{
    width: 30%;
    padding-left: 35%;
    padding-right: 35%;
  }

  ul,ol{
    list-style-position: unset;
  }

  form{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .imc{
    grid-column: 1/4;
    grid-row: 4/5;
  }

  .dcp{
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .dcpt{
    grid-row: 1/2;
    grid-column: 2/4;
  }

  .fta{
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .lfta{
    grid-row: 2/3;
    grid-column: 2/4;
    
  }

  .fla{
    grid-row: 3/4;
    grid-column: 1/2;
  }

  .mfla{
    grid-row: 3/4;
    grid-column: 2/4;
  }

  .container-country{
    grid-template-rows: auto auto auto auto;
  }
}





