body {
    margin: 0;
}

.red-container{
    background-color: red;
    height: 200px;
    width: 200px;
    
    position: relative;
    left: 404px;
}

.blue-container{
    background-color: blue;
    height: 200px;
    width: 200px;
    
    position: relative;
    bottom: 216px;
    
}

.yellow-container{
    background-color: yellow;
    height: 200px;
    width: 200px;
    position: relative;
    left: 202px;
    bottom: 432px;
   
}